@charset "UTF-8";
// シャドウ
@mixin shadow{
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}
// 疑似要素用
@mixin ba{
  content:"";
  display: inline-block;
}
// センタリング
@mixin ab_c{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
