@charset "UTF-8";
//フォント ---------------------------------
// googlefont
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap');
// WEBfont
// @font-face {
//     font-family:"Antro_Vectra";
//     src:url("../fonts/Antro_Vectra.otf") format("woff"),
//     url("../fonts/Antro_Vectra.otf") format("opentype"),
//     url("../fonts/Antro_Vectra.otf") format("truetype");
// }

//ゴシックと明朝の定義 ---------------------
$gothic: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$mincho: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;


//色 -------------------------------------
$blue: #3F80E0;
$black: #000;
$grey: #f5f5f5;

$main-c:$blue; //メインカラー
$base-c:$grey; //ベースカラー
$accent-c:$black; //アクセントカラー


//コンテンツ幅 ----------------------------
$content-width:1200px;

//ブロック間余白 --------------------------
$block-padding:3rem;
$block-padding_pc:6.5rem;

//ベースフォントサイズ ---------------------
$base-font-size:16;

//ブレークポイント ------------------------
// $win-xs: 320px;//スマホ（小）iphone SEなど
// $win-sm: 500px;//スマホ
// $win-md: 768px;// タブレット（小）
// $win-sub: 832px;// タブレット（中）　ipad
// $win-lg: 1024px;// タブレット（大）ipad pro
// $win-xl: 1200px;// PC コンテンツ幅のmax-width

$win_xs: 320px;// スマホ（小）iphone SEなど
$win_s: 768px;// SP ~ tab
$win_m: 1024px;// tab ~ PC
$win_l: $content-width;// PC版コンテンツ幅

$breakpoints: (
'sp': 'screen and (min-width:' +($win_xs + 1)+ ')',
'tab': 'screen and (min-width:' +($win_s + 1)+ ')',
'pc': 'screen and (min-width:' +($win_m + 1)+ ')',
'cont': 'screen and (min-width:' +($win_l + 1)+ ')'
) !default;

@mixin mq($breakpoint: tab) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
// @include mq(){}

@mixin flex{
  display: flex;
  flex-wrap: wrap;
}
