@charset "UTF-8";
//レイアウト

.l-wrapper{
  padding:$block-padding;
}
.l-inner{
  width:calc(100% - 20px);
  max-width:$content-width;
  margin:0 auto;
  position:relative;
}

main{padding-top: 63px;}
h2{display: table-caption;}
