@charset "UTF-8";

@charset "UTF-8";

// ---------------------------
// 大事な変数定義
// ---------------------------
$openClass:navOpen;
$nav_z-index:100;
$ease-time:.3s;

// ---------------------------
// 大事なstyle
// ---------------------------
#navsp{@include mq(){display: none;}}
#navpc{display: none; @include mq(){display: block;}}


#header{
  border-bottom: 1px solid #f5f5f5;
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255,.9);
  z-index: 999;
}
#header .wrapper{
  @include flex;
  justify-content: space-between;
  margin: auto;
  max-width: 100%;
  padding: 0 10px;
  width: 98%;
}

.sidemenu{
  position: fixed;
    right: 0;
    top: 40%;
    z-index: 10;
    img{padding: 5px 0; max-width: 41px; display: block;transition: all .3s;}
    img:hover{opacity: .5;}
    @include mq(){display: none;}
}

//pc
#navpc ul{
  @include flex;
  margin: 0;
}

//sp
#navsp{
  // メニューオープン時の各style
  &.#{$openClass}{
    // メニューオープン時にコンテンツエリアがスクロールしないように position: fixed;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    .nav{
      transform:translateY(0);
    }
    .memubtn{
      &:before{
        content:'\e5cd';
        color:$main-c;
        font-family: 'Material Icons';
      }
    }
  }
}
.nav{
  position:fixed;
  z-index: $nav_z-index;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // スマホでのスクロールを滑らかにするためのstyle
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateY(-100%); // ここはお好みで
  transition: $ease-time transform ease; // ここはお好みで
  &-inner{
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow-y:auto;
  }
}

// 今回はgooleのMaterial iconsを使用してmenubtnを作成
.memubtn{
  display: block;
  position:fixed;
  right: 15px;
  top: 10px;
  z-index: #{$nav_z-index+1};  //navのz-indexより大きく
  color:#000;
  &:before{
    content:'\e3c7';
    font-family: 'Material Icons';
    font-size: 40px;
    color: $main-c;
  }
}

// ---------------------------
// デザイン調整のためのstyle
// ---------------------------
img{
  width: 100%;
}
.head{
  height: 60px;
  .logo{
    padding-top:13px;
    @include mq(){padding-top: 10px;}
    img{
      width: 130px;
    }
  }
}
.main{
  display: block;
  max-width:1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.nav{
  background-color: rgba(255,255,255,.9);
  &-inner{
    padding:40px 15px;
  }
}
.glnav{
  padding: 0;
  &-item{
    text-align: center;
    padding: 17px .9vw;
    &:not(:last-child) a::after {
        position: absolute;
        bottom: -6px;
        left: 0;
        content: '';
        width: 100%;
        height: 3px;
        background: $main-c;
        transform: scale(0, 1);
        transform-origin: right top;
        transition: transform .3s;
      }
    a{
      color:$main-c;
      font-size: 2rem;
      position: relative;
      @include mq(){
        font-size: 14px;
      }
      &:hover {
        text-decoration: none !important;
        opacity: 0.8;
      }
      &:hover::after {
        transform-origin: left top;
        transform: scale(1, 1);
        opacity: 1;
      }
    }
  }
}

.glnav-recruit_btn a{
  border: 1px solid $main-c;
  border-radius: 30px;
  padding: 5px 60px;
  transition: all .3s;
  @include mq(){padding: 8px 20px;}
  &:hover{
    background-color: $main-c;
    color: #fff;
  }
}

footer{
  border-top: 1px solid #d5dde6;
}
footer .wrapper{justify-content: space-between;}
footer p{  color: $main-c;
  font-size: 1rem;
  font-family: $gothic;
  font-weight: bold;}

  /*--------------------------------
    scroll animation fadein
  --------------------------------*/
  .js-scroll-fadein {
    transition: opacity 1s;
    visibility: hidden;
    opacity: 0;
    &.is-fadein {
      visibility: visible;
      opacity: 1;
    }
  }
  /*--------------------------------
    arrow
  --------------------------------*/
  .arrow{
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: $main-c;
    cursor: pointer;
    background-color: #fff;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    transition: all 0.2s ease-in-out;
    font-size: 10px;
    text-align: center;
    line-height: 0;
    &:hover{
      box-shadow: none;
      background-color: #f5f5f5;
    }
    &:before{
      content: "";
      width: 20px;
      height: 20px;
      border-top: solid 3px $main-c;
      border-right: solid 3px $main-c;
      transform: rotate(-45deg);
      display: block;
    }
  }
