@charset "UTF-8";
.p-index{

.mv_slide{
  .l-wrapper{padding: 0;}
   .swiper-slide{opacity: .5;}
   .swiper-slide-active{
    opacity: 1;
  }
 }


.mv_fukifashi{
  text-align: center;
}

.point .l-inner{
  display: flex;
  flex-wrap: wrap;
}
.point_box{
  width: 33%;
  padding: 0 30px;
}














}
