@charset "UTF-8";
/*-----------ベース -----------*/
*, *::before, *::after { box-sizing: border-box; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; list-style: none; }

body { line-height: 1; -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; vertical-align: baseline; background: transparent; }

/* change colours to suit your needs */
ins { background-color: #ff9; color: #000; text-decoration: none; }

/* change colours to suit your needs */
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

/* change border colour to suit your needs */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

i { font-style: normal; }

html { font-size: 16px; text-underline-position: under; }

body { font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; font-weight: 400; line-height: 1.75; width: 100vw; overflow-x: hidden; letter-spacing: .02em; font-feature-settings: "palt"; }

body.ua-ie { font-family: "メイリオ", "Meiryo",sans-serif; }

a { color: inherit; cursor: pointer; }

img { display: block; max-width: 100%; }

span, i { font-size: inherit; color: inherit; letter-spacing: inherit; line-height: inherit; }

/*-------フォントサイズ---------*/
p, dt, dd, tr, th, td, li, a { font-size: 0.875rem; }

h2 { font-size: 1.5625rem; }

@media screen and (min-width: 321px) { h2 { font-size: 1.875rem; } }

@media screen and (min-width: 769px) { body, p, dt, dd, tr, th, td, li, a { font-size: 1rem; }
  h2 { font-size: 2.8125rem; }
  h3 { font-size: 1.25rem; }
  h4 { font-size: 1.125rem; }
  h5 { font-size: 1.0625rem; } }

/*-----------レイアウト　接頭辞「l-」-----------*/
.l-wrapper { padding: 3rem; }

.l-inner { width: calc(100% - 20px); max-width: 1200px; margin: 0 auto; position: relative; }

main { padding-top: 63px; }

h2 { display: table-caption; }

@media screen and (min-width: 769px) { #navsp { display: none; } }

#navpc { display: none; }

@media screen and (min-width: 769px) { #navpc { display: block; } }

#header { border-bottom: 1px solid #f5f5f5; position: fixed; width: 100%; background-color: rgba(255, 255, 255, 0.9); z-index: 999; }

#header .wrapper { display: flex; flex-wrap: wrap; justify-content: space-between; margin: auto; max-width: 100%; padding: 0 10px; width: 98%; }

.sidemenu { position: fixed; right: 0; top: 40%; z-index: 10; }

.sidemenu img { padding: 5px 0; max-width: 41px; display: block; transition: all .3s; }

.sidemenu img:hover { opacity: .5; }

@media screen and (min-width: 769px) { .sidemenu { display: none; } }

#navpc ul { display: flex; flex-wrap: wrap; margin: 0; }

#navsp.navOpen { position: fixed; left: 0; width: 100%; height: 100%; }

#navsp.navOpen .nav { transform: translateY(0); }

#navsp.navOpen .memubtn:before { content: '\e5cd'; color: #3F80E0; font-family: 'Material Icons'; }

.nav { position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; overflow-y: auto; transform: translateY(-100%); transition: 0.3s transform ease; }

.nav-inner { -webkit-overflow-scrolling: touch; overflow-scrolling: touch; overflow-y: auto; }

.memubtn { display: block; position: fixed; right: 15px; top: 10px; z-index: 101; color: #000; }

.memubtn:before { content: '\e3c7'; font-family: 'Material Icons'; font-size: 40px; color: #3F80E0; }

img { width: 100%; }

.head { height: 60px; }

.head .logo { padding-top: 13px; }

@media screen and (min-width: 769px) { .head .logo { padding-top: 10px; } }

.head .logo img { width: 130px; }

.main { display: block; max-width: 1230px; padding-left: 15px; padding-right: 15px; margin: 0 auto; }

.nav { background-color: rgba(255, 255, 255, 0.9); }

.nav-inner { padding: 40px 15px; }

.glnav { padding: 0; }

.glnav-item { text-align: center; padding: 17px .9vw; }

.glnav-item:not(:last-child) a::after { position: absolute; bottom: -6px; left: 0; content: ''; width: 100%; height: 3px; background: #3F80E0; transform: scale(0, 1); transform-origin: right top; transition: transform .3s; }

.glnav-item a { color: #3F80E0; font-size: 2rem; position: relative; }

@media screen and (min-width: 769px) { .glnav-item a { font-size: 14px; } }

.glnav-item a:hover { text-decoration: none !important; opacity: 0.8; }

.glnav-item a:hover::after { transform-origin: left top; transform: scale(1, 1); opacity: 1; }

.glnav-recruit_btn a { border: 1px solid #3F80E0; border-radius: 30px; padding: 5px 60px; transition: all .3s; }

@media screen and (min-width: 769px) { .glnav-recruit_btn a { padding: 8px 20px; } }

.glnav-recruit_btn a:hover { background-color: #3F80E0; color: #fff; }

footer { border-top: 1px solid #d5dde6; }

footer .wrapper { justify-content: space-between; }

footer p { color: #3F80E0; font-size: 1rem; font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; font-weight: bold; }

/*-------------------------------- scroll animation fadein --------------------------------*/
.js-scroll-fadein { transition: opacity 1s; visibility: hidden; opacity: 0; }

.js-scroll-fadein.is-fadein { visibility: visible; opacity: 1; }

/*-------------------------------- arrow --------------------------------*/
.arrow { position: fixed; right: 20px; bottom: 20px; color: #3F80E0; cursor: pointer; background-color: #fff; border-radius: 40px; padding: 20px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); transition: all 0.2s ease-in-out; font-size: 10px; text-align: center; line-height: 0; }

.arrow:hover { box-shadow: none; background-color: #f5f5f5; }

.arrow:before { content: ""; width: 20px; height: 20px; border-top: solid 3px #3F80E0; border-right: solid 3px #3F80E0; transform: rotate(-45deg); display: block; }

/*----------パーツ 接頭辞「c-」------------*/
/*--------個別ページ　接頭辞「p-」--------------*/
.p-index .mv_slide .l-wrapper { padding: 0; }

.p-index .mv_slide .swiper-slide { opacity: .5; }

.p-index .mv_slide .swiper-slide-active { opacity: 1; }

.p-index .mv_fukifashi { text-align: center; }

.p-index .point .l-inner { display: flex; flex-wrap: wrap; }

.p-index .point_box { width: 33%; padding: 0 30px; }

/*---------ヘルパークラス　接頭辞「u-」-------------*/
.u-sp { display: block !important; }

@media screen and (min-width: 769px) { .u-sp { display: none !important; } }

.u-pc { display: none !important; }

@media screen and (min-width: 769px) { .u-pc { display: block !important; } }

.u-hide { visibility: hidden !important; opacity: 0 !important; }

.u-show { visibility: visible !important; opacity: 1 !important; }
