@charset "UTF-8";
// 余白の種類はS,M,Lなどの抽象的な命名をする
//【NG例】.u-mt_10{margin-top:10px !important;}　←これはだめ

// .u-mt_s{margin-top:10px !important;}
// .u-mt_m{margin-top:50px !important;}
// .u-mt_l{margin-top:100px !important;}
